<div class="container">
    <div class="card mt-5" style="align-items: center;">
        <h1>Update Student</h1> 
    </div>
  <div class="card mt-5" style="padding:20px;">
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Student RollNumber:</label>
        <input type="number"  disabled [(ngModel)]="student.rollNumber" name="rollNumber" id="rollNumber" class="form-control" >
      </div>
    <div class="form-group">
  <label for="name">Student Name :</label>
  <input type="text" [(ngModel)]="student.name" maxlength="32" name="name" id="name" class="form-control" > 
    </div>
  
    <div class="form-group">
        <label for="name">Student Address:</label>
        <input type="text"  [(ngModel)]="student.address" name="address" id="address" class="form-control" >
            </div>
  
            <div class="form-group">
                <label for="name">Student Percentage:</label>
                <input type="number" [(ngModel)]="student.percentages"  name="percentages" id="percentages" class="form-control">
              </div>
              <div class="form-group">
       <input type="submit" value="Update" class="btn btn-primary w-100">
              </div>    
  </form>
  </div>
  </div> 