
<nav class="navbar navbar-expand-sm bg-primary navbar-dark"> 
<ul class="navbar-nav">
<li class="nav-item">
    <a routerLink="get-student" routerLinkActive="router-link-active"  class="nav-link">Student List</a>
</li>
<li class="nav-item">
    <a routerLink="save-student"  class="nav-link">Add Student</a>
</li>
</ul>


</nav>

<div class="container">
  <router-outlet>

  

  </router-outlet>
  




</div>

