<!-- <div class="container">
  <div class="card mt-5" style="align-items: center;">
      <h1>Student Dashboard</h1> 
  </div>
<div class="card mt-5" style="padding:20px;">
  <form [formGroup]="studentsaveform" #savestudent (ngSubmit)="saveStudent(saveStudent)">
  <div class="form-group">
<label for="name">Student Name :</label>
<input type="text" [(ngModel)]="sName" name="sName" id="sname" class="form-control" placeholder="Enter the Student Name">
  </div>

  <div class="form-group">
      <label for="name">Student Address:</label>
      <input type="text"  [(ngModel)]="sAddress" name="sAddress" id="sAddress" class="form-control" placeholder="Enter the Student address">
          </div>

          <div class="form-group">
              <label for="name">Student Percentage:</label>
              <input type="number" [(ngModel)]="sPercentage" name="sPercentage" id="sPercentage" class="form-control" placeholder="Enter the Student percentage">
            </div>
            <div class="form-group">
     <input type="submit" value="Register" class="btn btn-primary w-100">
            </div>    
</form>
</div>
</div>  -->
<!-- <h3>save student details</h3>
<form (ngSubmit)=onSubmit()>
<div class="form-group">
  <label>FName</label>
  <input type="text" class="form-control" id="name" [(ngModel)]="student.name" name="name">
</div>
</form>  -->


<div class="container">
  <div class="card mt-5" style="align-items: center;">
      <h1>Student Dashboard</h1> 
  </div>
<div class="card mt-5" style="padding:20px;">
  <form (ngSubmit)="onSubmit()">
  <div class="form-group">
<label for="name">Student Name :</label>
<input type="text" [(ngModel)]="student.name" pattern="[a-z]" name="name" id="name" class="form-control" placeholder="Enter the Student Name" required>

  </div>

  <div class="form-group">
      <label for="name">Student Address:</label>
      <input type="text"  [(ngModel)]="student.address" name="address" id="address" class="form-control" placeholder="Enter the Student address" required> 
          </div>

          <div class="form-group">
              <label for="name">Student Percentage:</label>
              <input type="number" [(ngModel)]="student.percentages" name="percentages" id="percentages" class="form-control" placeholder="Enter the Student percentage" required>
            </div>
            <div class="form-group">
     <input type="submit" value="Register" class="btn btn-primary w-100">
            </div>    
</form>
</div>
</div> 
