
<h2>Student List</h2>
<table class="table table-striped">
    <thead>
        <tr>
        <th>RollNumber</th>
        <th>Name</th>
        <th>Address</th>
        <th>Percentage</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
<tr *ngFor="let student of students">
<td>{{student.rollNumber}} </td>
<td>{{student.name}} </td>
<td>{{student.address}} </td>
<td>{{student.percentages}} </td>
<td>
    <button (click)="updateStudent(student.rollNumber)" class="btn btn-info">Edit</button>
</td>

<td>
    <button (click)="deleteStudent(student.rollNumber)" class="btn btn-danger"> delete</button>
</td>
</tr>
    </tbody>
</table>

